body {
    font-size: 14px;
    margin: 0;
    font-family: Arial, Helvetica, Arial, sans-serif;
    line-height: 1.42057143;
    color: rgb(170, 41, 41);
    background-color: #fff;
}



input {
    width: 100%;
    margin: 8px;
    padding: 12px 10px;
    border: border-box 2px;
    border-color: red;
    border-radius: 4px;
}